version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      all-npm-dependencies:
        patterns:
          - '*'

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      all-github-actions:
        patterns:
          - '*'

  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: weekly
