#Node
node_modules

#IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Package management
src/**/*.ts
package-lock.json
.nvmrc
tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo
biome.json
lefthook.yml
commitlint.config.js
vite.config.ts
tsconfig.json
tsconfig.build.json

# Debug
npm-debug.log*

# Testing
coverage/
jest.config.js

# Test files
tests/
coverage/
*.test.js
*.test.ts

# Miscellaneous
.github
.husky
examples
tests
*.md
!README.md
